@page
@model NextStop.Pages.ResultsModel
@{
    ViewData["Title"] = "Results page";
}

<h1>Search Results</h1>

@if (Model.Trips.Any())
{
    <div class="row">
        @foreach (var trip in Model.Trips)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@trip.Origin to @trip.Destination</h5>
                        <p class="card-text">Departure: @trip.DepartureDay</p>
                        <p class="card-text">Price: $@trip.Price</p>
                        <p class="card-text">Departure Time: @trip.DepartureTime</p>
                        <p class="card-text">Arrival Time: @trip.ArrivalTime</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No trips found matching your criteria.</p>
}
<h2>Not what you're looking for? Refine your search and try again!</h2>
<div class="row">
    <form class="col-12" method="get" asp-page="/Results">
        <div class="d-flex gap-3 align-items-end">
            <div class="form-group">
                <label asp-for="NewOrigin" class="form-label"></label>
                <input name="origin" asp-for="NewOrigin" class="form-control" />
                <span asp-validation-for="NewOrigin"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewDestination" class="form-label"></label>
                <input name="destination" asp-for="NewDestination" class="form-control" />
                <span asp-validation-for="NewDestination"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewDepartureDay" class="form-label"></label>
                <select name="day" asp-for="NewDepartureDay" class="form-select" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
                <option value="">Any Day</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Update Search</button>
        </div>
    </form>
</div>