@page
@model NextStop.Pages.TripInfoModel
@{
    ViewData["Title"] = "Trip View";
}

<h1>Trip Details</h1>
<div class="col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Trip.Origin to @Model.Trip.Destination</h5>
            <p class="card-text">Departure: @Model.DateOfTravel.ToString("dddd MMMM dd, yyyy")</p>
            <p class="card-text">Price: $@Model.Trip.Price per passenger</p>
            <p class="card-text">Departure Time: @Model.Trip.DepartureTime.ToString(@"hh\:mm")</p>
            <p class="card-text">Arrival Time: @Model.Trip.ArrivalTime.ToString(@"hh\:mm")</p>
            <p class="card-text">Number of Passengers: @Model.NumberOfPassengers</p>
            <p class="card-text">Total: $@Model.Total</p>
        </div>
    </div>
    @if (@Model.OrderButtonActive)
    {
        <a class="btn btn-primary" asp-page="/Index">You can order this trip!</a>
    }
    else
    {
        <h3>We're sorry, but this trip does not have enough spots for your group.</h3>
    }
</div>