@page
@model NextStop.Pages.TripInfoModel
@{
    ViewData["Title"] = "Trip View";
}
@inject NextStop.Services.StripeService StripeService
@{
    var publishableKey = StripeService.GetPublishableKey();
}
<script src="https://js.stripe.com/v3/"></script>
<script>
    if ('@publishableKey') {
        const stripe = Stripe('@publishableKey');
    } else {
        console.error('Stripe Publishable Key is not configured');
    }
</script>



<h1>Trip Details</h1>
<div class="col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Trip.Origin to @Model.Trip.Destination</h5>
            <p class="card-text">Departure: @Model.DateOfTravel.ToString("dddd MMMM dd, yyyy")</p>
            <p class="card-text">Price: $@Model.Trip.Price per passenger</p>
            <p class="card-text">Departure Time: @Model.Trip.DepartureTime.ToString(@"hh\:mm")</p>
            <p class="card-text">Arrival Time: @Model.Trip.ArrivalTime.ToString(@"hh\:mm")</p>
            <p class="card-text">Number of Passengers: @Model.NumberOfPassengers</p>
            <p class="card-text">Number of Discounts: @Model.NumberOfDiscounts</p>
            <p class="card-text">Total: $@Model.Total</p>
        </div>
    </div>
    @if (@Model.OrderButtonActive)
    {
        <form method="post">
            <input type="hidden" name="amount" value="@Model.Total" />
            <input type="hidden" name="tripId" value="@Model.Trip.Id" />
            <input type="hidden" name="DateOfTravel" value="@Model.DateOfTravel" />
            <input type="hidden" name="NumberOfPassengers" value="@Model.NumberOfPassengers" />
            <input type="hidden" name="NumberOfDiscounts" value="@Model.NumberOfDiscounts" />
            <button type="submit" class="btn btn-primary">Proceed to Payment</button>
        </form>
    }
    else
    {
        <h3>We're sorry, but this trip does not have enough spots for your group.</h3>
    }
</div>