@page
@model NextStop.Pages.ViewOrdersModel
@{
    ViewData["Title"] = "My Orders";
}

<table class="table table-bordered table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th>Passengers</th>
            <th>Total ($)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders.Any())  
        {
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Trip.Origin</td>
                    <td>@order.Trip.Destination</td>
                    <td>@order.DateOfTravel.ToString("yyyy-MM-dd")</td>
                    <td>@order.Trip.DepartureTime.ToString("hh\\:mm")</td>
                    <td>@order.Trip.ArrivalTime.ToString("hh\\:mm")</td>
                    <td>@order.NumOfPassengers</td>            
                    <td>
                        @( (order.Trip.Price * (order.NumOfPassengers - order.NumOfDiscounts)
                        + (0.8m * order.Trip.Price * order.NumOfDiscounts)).ToString("F2") )
                    </td>


                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">You have no orders.</td>  
            </tr>
        }
    </tbody>
</table>


